@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --sidebar-bg: #38bdf8;
    --main-bg: #e2e8f0;
    --card-border: #fde047;
}